.project-box-shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container {
    width: 100%;
  }
  
  .progress-bar {
    height: 20px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
  }
  