<div >
    <!-- <h2>{{ rowSelected}}</h2> -->
    
    <div class="col-12">
        <div class="mt-5"><b>Project details </b></div> 
        <div class="col-4 m-auto p-3 project-box-shadow" (click)="openform()" >
            <h1><i class="fa-solid fa-sheet-plastic p" style="color: #000000;font-size: 100px;"></i></h1>
            <div class="col-11 d-flex">
                <div class="col-6"><span>Project name</span></div>:<div class="col-6 ps-2"><span><b>{{inputData.Title}}</b></span></div>
                
            </div>
            
              <div class=" col-11">
                <div class="d-flex">
                    <label for="" class="col-6">start date</label>:<input type="text" type="text" class="border-0 col-6 ps-2"  value={{inputData.start_date}}>
                </div>
                <div class="d-flex">
                    <label for=""  class="col-6">end date</label>:<input type="text" type="text" class="border-0 col-6 ps-2" value={{inputData.Due_date}}>
                </div>
            </div>
            <div class="col-11 d-flex">
                <div class="col-6"><span><b>Decriptions</b></span></div>:<div class=" col-6 ps-2"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</span></div>
                
            </div>
           
     
      </div>
      <div class="progress col-4 m-auto mt-4" style="height: 20px">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          25%
        </div>
</div>
     <div class="col-4 m-auto card mt-5">
        <div class="card-header">User Task Assign Form</div>
        <form    #userLogind="ngForm" (ngSubmit)="onSubmit(userLogind.value)" class="w-100 card-body">
            <div>
                
                <label  class="form-label"> Team Select</label><select  (change)="onChange($event)" class="form-select"ngModel required name="team">
                    <option value=""  >Team Select</option>
                    <option value="Frontend">Frontend</option>
                    <option value="backend">Backend</option>
                </select>
            </div>
            <div><label for="userassign" class="form-label">User Name</label><select  id="userassign" type="text"ngModel required class="form-select" name="userasign">
                <option value=""  >User Select</option>
              <option *ngIf="selectedDevice=='Frontend' " value="Praful">Praful kindre</option>
              <option *ngIf="selectedDevice=='Frontend'"  value="Prawal_bonde">Prawal bonde</option>  
              <option *ngIf="selectedDevice=='backend'" value="Puja gupta">Puja gupta</option>
              <option *ngIf="selectedDevice=='backend'" value="Nilesh Ingle">Nilesh Ingle</option>
            </select></div>
              <div class="d-flex text-end w-100">
                <div><button class="btn btn-danger m-2" (click)="reateformclose()">Cancel</button></div>
                <div><button type="submit"class=" btn btn-success m-2">Save</button></div>
              </div>
        </form>
     </div>
</div>